@{
  this.ViewData["Title"] = $"Package Details for {this.ViewBag.Id} {this.ViewBag.Version}";
}

<div class="text-center">
  <h1 class="display-4">@this.ViewBag.Id @this.ViewBag.Version</h1>
  <p>
    TODO: Show actual package details.
  </p>
</div>
