@{
  this.ViewData["Title"] = $"Report Abuse for {this.ViewBag.Id} {this.ViewBag.Version}";
}

<div class="text-center">
  <h1 class="display-4">@this.ViewBag.Id @this.ViewBag.Version</h1>
  <p>
    TODO: Provide a real means of reporting abuse.
  </p>
</div>
